# Си-объектники и артефакты
*.o

# Debian-пакеты и сборочные папки
*.deb
pkg/

# Логи и временные файлы
*.log
/tmp/

# Игнорим только файлы-исполняемые в корне
/myRPC-client
/myRPC-server

# Не игнорируем папки с исходниками
!/myRPC-client/
!/myRPC-server/

# IDE и системные файлы
*.swp
.DS_Store
